.home-hero{
    min-height: 100vh;
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);

}

.home-main{
    display: flex;
    justify-content: space-between;


    gap: 20px;
    padding: 20px;

}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    
    
}